

/* Home Page Styling */
.homePage img, .homePage h1, .homePage h2,
.aboutPage img, .aboutPage h1, .aboutPage h2, .aboutIconWrapper, .aboutPic {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Fade in over 0.5s */
}


/* Set the initial state for elements inside skillPage */
.skillPage img, .skillPage h1, .skillPage p {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Fade in over 1 second */
}

/* Set initial opacity to 0 for all the target elements */
.projectPage img, .projectPage h1, .projectPage h2, .projectLeft, .projectPic {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Smooth fade-in effect */
}

/* Add any other styling for the skill page as needed */
